/* Universal Styles */
* {
  margin: 0px;
  padding: 0px;
  font-family: Lato;
}
.btn1 {
  margin-top: 30px;
  padding: 20px 43px;
  background: #e55473;
  color: white;
  border-radius: 8px;
  border: none;
}
.btn2 {
  margin-top: 30px 50px;
  padding: 18px 31px;
  background: #e55473;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  border: none;
}
.pink-color {
  color: #e55473;
}
.title {
  margin-top: 130px;
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.description {
  margin-top: 25px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 594px;
}
.general-title-and-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* banner styles */
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 850px;
  padding: 50px 240px 0px 240px;
  padding-bottom: 0px;
  background-color: rgba(229, 84, 115, 0.1);
  gap: 100px;
}
.banner-header {
  width: 708px;
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.banner-description {
  margin-top: 30px;
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.banner-image {
  align-self: self-end;
  width: 635px;
  height: 800px;
  border-image-repeat: stretch;
}

/* featured section styles */
.feature-boxes {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding-left: 240px;
  padding-right: 240px;
  gap: 25px;
}
.arch-box {
  background-color: rgba(167, 33, 98, 0.15);
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-image {
  align-self: self-end;
}
.box-image2 {
  padding-bottom: 50px;
}
figcaption {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
#ab1 {
  background-color: rgba(167, 33, 98, 0.15);
}
#ab2 {
  background-color: rgba(5, 151, 160, 0.15);
}
#ab3 {
  background-color: rgba(71, 125, 17, 0.15);
}
.feature-bottom-box {
  margin: 130px 240px 0px 240px;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: rgba(39, 39, 39, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.fbb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fbb-img {
  width: 90px;
  height: 90px;
}
.fbb-text {
  margin-top: 25px;
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
/* sale section styles*/
.sale {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 186px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(229, 84, 115, 0.05);
  margin-top: 130px;
}
.sale-text {
  width: 594px;
  text-align: center;
}
.sale-title {
  color: #272727;
  font-size: 40px;
  font-weight: 900;
}
.sale-description {
  margin-top: 25px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* instagram section styles*/
.instagram-images {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
/* deals section styles */
.text-input {
  margin-top: 30px;
  padding: 20px 43px;
  background: white;
  border-radius: 8px;
  border: none;
  width: 700px;
}
.deals-main {
  margin: 130px 240px 0px 240px;
  padding: 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("asset/Rectangle 9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.deals-title {
  margin-top: 0px;
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.deals-description {
  margin-top: 15px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 594px;
}
/* footer styles */
footer {
  margin-top: 130px;
  padding: 0px 240px 130px 240px;
  background-color: #111010;
  color: white;
}
.small-description {
  margin-top: 32px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
.footer-title {
  margin-top: 130px;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.footer-description {
  margin-top: 25px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 594px;
}
