* {
  margin: 0px;
  padding: 0px;
  font-family: Lato;
}

/* banner styles */
.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 850px;
  padding: 50px 240px 0px 240px;
  padding-bottom: 0px;
  background-color: rgba(229, 84, 115, 0.1);
}
.banner-header {
  width: 708px;
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.banner-description {
  margin-top: 30px;
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.banner-image {
  align-self: self-end;
  width: 635px;
  height: 800px;
  border-image-repeat: stretch;
}
.btn1 {
  margin-top: 30px;
  padding: 20px 43px;
  background: #e55473;
  color: white;
  border-radius: 8px;
  border: none;
}
